.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    width: 700px;
    height: 700px;
    margin-left: auto;
    margin-right: auto;
}

.item0 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.itemEquals {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
}

.display {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 700px;
    height: 150px;
}


